/math/lecture-notes/calculus-1/main.aux
/math/lecture-notes/calculus-1/main.log
/math/lecture-notes/calculus-1/main.pdf
/math/lecture-notes/linear-algebra/main.aux
/math/lecture-notes/linear-algebra/main.log
/math/lecture-notes/linear-algebra/main.pdf
